HomeAssistant/Node-RED_Flow
[{"id":"2ea0e84d.4f1c88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f4f524e.22fd3c","type":"http in","z":"2ea0e84d.4f1c88","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["33bc23a2.56901c","6d140b15.818ee4"]]},{"id":"33bc23a2.56901c","type":"api-call-service","z":"2ea0e84d.4f1c88","name":"","server":"4286d22d.e2b9ac","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color_0x000000000804e1a4","data":"{\"effect\":\"Disco\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":120,"wires":[[]]},{"id":"6d140b15.818ee4","type":"debug","z":"2ea0e84d.4f1c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":200,"wires":[]},{"id":"b51ca07b.195d","type":"http in","z":"2ea0e84d.4f1c88","name":"","url":"/shelly2x","method":"get","upload":false,"swaggerDoc":"","x":320,"y":580,"wires":[["dfb609e7.8f9f38"]]},{"id":"14c555ed.81310a","type":"api-call-service","z":"2ea0e84d.4f1c88","name":"","server":"4286d22d.e2b9ac","version":1,"debugenabled":false,"service_domain":"homematicip_cloud","service":"set_active_climate_profile","entityId":"climate.access_home","data":"{\"climate_profile_index\":2}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":500,"wires":[[]]},{"id":"3e6e7487.65aabc","type":"http in","z":"2ea0e84d.4f1c88","name":"","url":"/shelly3x","method":"get","upload":false,"swaggerDoc":"","x":320,"y":500,"wires":[["14c555ed.81310a"]]},{"id":"dfb609e7.8f9f38","type":"api-call-service","z":"2ea0e84d.4f1c88","name":"Toggle Switch On/Off","server":"4286d22d.e2b9ac","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.nodered_entity_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":796,"y":660,"wires":[[]]},{"id":"52ad42c3.813b0c","type":"ha-entity","z":"2ea0e84d.4f1c88","name":"","server":"4286d22d.e2b9ac","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"nodered_entity_switch"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":766,"y":596,"wires":[[],[]]},{"id":"4286d22d.e2b9ac","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
