NodeRED/NodeRED_Flow
[{"id":"2ad27d4c.8fd232","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44f79855.290828","type":"ui_switch","z":"2ad27d4c.8fd232","name":"","label":"switch","tooltip":"","group":"efa339f1.188948","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1510,"y":240,"wires":[["19be9155.8ca63f"]]},{"id":"ded321b.05220e","type":"ui_text_input","z":"2ad27d4c.8fd232","name":"","label":"","tooltip":"","group":"efa339f1.188948","order":3,"width":"4","height":"1","passthru":true,"mode":"time","delay":300,"topic":"input","x":1080,"y":240,"wires":[["e59d3b92.35e0f8"]]},{"id":"217da0d1.acde8","type":"ui_text","z":"2ad27d4c.8fd232","group":"efa339f1.188948","order":2,"width":0,"height":0,"name":"","label":"Automatisch aktivieren um:","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":200,"wires":[]},{"id":"e59d3b92.35e0f8","type":"function","z":"2ad27d4c.8fd232","name":"Check Time","func":"var time = msg.payload;\nvar topic = msg.topic;\n\nif (topic == \"input\"){\n    flow.set(\"ONtime\",msg.payload);\n    var currenttime = new Date(); \n    var datetime = parseInt(currenttime.getHours())*3600000 + parseInt(currenttime.getMinutes())*60000 ;\n    if (time == datetime){\n        msg.payload = \"on\";\n        return msg;\n    }}\nif (topic == \"loop\"){\n    time = flow.get(\"ONtime\");\n    var currenttime1 = new Date(); \n    var datetime1 = parseInt(currenttime1.getHours())*3600000 + parseInt(currenttime1.getMinutes())*60000 ;\n    if (time == datetime1){\n        msg.payload = \"on\";\n        return msg;\n    }}\n\n","outputs":1,"noerr":0,"x":1310,"y":240,"wires":[["44f79855.290828"]]},{"id":"5d0cd83.5a98428","type":"inject","z":"2ad27d4c.8fd232","name":"","topic":"loop","payload":"","payloadType":"date","repeat":"31","crontab":"","once":true,"onceDelay":0.1,"x":1110,"y":280,"wires":[["e59d3b92.35e0f8"]]},{"id":"12b099e6.e78f06","type":"yeelight","z":"2ad27d4c.8fd232","name":"Farbe","command":"set_rgb","config":"","x":1400,"y":520,"wires":[[]]},{"id":"ae4c5372.a9ccf","type":"ui_colour_picker","z":"2ad27d4c.8fd232","name":"","label":"Farbpalette","group":"468811f7.87172","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":true,"showLightness":true,"square":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":808,"y":521,"wires":[["1c353d42.771dc3"]]},{"id":"1c353d42.771dc3","type":"function","z":"2ad27d4c.8fd232","name":"Farbe","func":"msg.payload = msg.payload.replace(/[#]/g,\"0x\");\nmsg.payload = \"0x\" + msg.payload\nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":520,"wires":[["12b099e6.e78f06"]]},{"id":"78aa3796.2d56f8","type":"yeelight","z":"2ad27d4c.8fd232","name":"Temperatur","command":"set_ct_abx","config":"","x":1324,"y":612,"wires":[[]]},{"id":"607ef60a.631e18","type":"yeelight","z":"2ad27d4c.8fd232","name":"An/Aus","command":"toggle","config":"","x":1302,"y":705,"wires":[[]]},{"id":"4401a6ba.66d4f8","type":"ui_button","z":"2ad27d4c.8fd232","name":"","group":"468811f7.87172","order":5,"width":0,"height":0,"passthru":false,"label":"An/Aus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":799,"y":705,"wires":[["607ef60a.631e18"]]},{"id":"34777420.dbf5fc","type":"ui_slider","z":"2ad27d4c.8fd232","name":"","label":"Farbtemperatur","tooltip":"","group":"468811f7.87172","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1700","max":"6500","step":"10","x":828,"y":612,"wires":[["78aa3796.2d56f8"]]},{"id":"6b6ff236.c6c13c","type":"ui_slider","z":"2ad27d4c.8fd232","name":"","label":"Helligkeit","tooltip":"","group":"468811f7.87172","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"100","step":1,"x":799,"y":569,"wires":[["ba1d19ca.514378"]]},{"id":"ba1d19ca.514378","type":"yeelight","z":"2ad27d4c.8fd232","name":"Helligkeit","command":"set_bright","config":"","x":1315,"y":569,"wires":[[]]},{"id":"ee7a927e.21a79","type":"yeelight","z":"2ad27d4c.8fd232","name":"RGB","command":"set_rgb","config":"","x":1304,"y":657,"wires":[[]]},{"id":"88affdba.0808","type":"ui_dropdown","z":"2ad27d4c.8fd232","name":"","label":"Farbauswahl","tooltip":"","place":"Farbauswahl","group":"468811f7.87172","order":4,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"Rot","value":"0xFF0000","type":"str"},{"label":"Grün","value":"0x00FF00","type":"str"},{"label":"Blau","value":"0x0000FF","type":"str"},{"label":"Weiß","value":"0xFFFFFF","type":"str"},{"label":"Lila","value":"0xFF00FF","type":"str"},{"label":"Gelb","value":"0xFFFF00","type":"str"}],"payload":"","topic":"","x":810,"y":657,"wires":[["ee7a927e.21a79"]]},{"id":"927f8de9.c3233","type":"http in","z":"2ad27d4c.8fd232","name":"1x","url":"/mytest/1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":940,"wires":[["f4963689.b085b8","83f38e49.81ee8","c797b7c8.302fe8"]]},{"id":"773346dc.4f4438","type":"http in","z":"2ad27d4c.8fd232","name":"2x","url":"/mytest/2","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1020,"wires":[["f4963689.b085b8","83f38e49.81ee8","c797b7c8.302fe8"]]},{"id":"3cf059b4.3cd016","type":"http in","z":"2ad27d4c.8fd232","name":"3x","url":"/mytest/3","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1100,"wires":[["f4963689.b085b8","c797b7c8.302fe8","83f38e49.81ee8"]]},{"id":"aecb8bca.629708","type":"http in","z":"2ad27d4c.8fd232","name":"long","url":"/mytest/long","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1280,"wires":[["3f9580fd.c8144"]]},{"id":"c797b7c8.302fe8","type":"function","z":"2ad27d4c.8fd232","name":"Brightness","func":"var payload = msg.payload.payload\nif (payload == \"1\"){\n    msg.payload = 50;\n    }\nif (payload == \"2\"){\n    msg.payload = 60;\n    }\nif (payload == \"3\"){\n    msg.payload = 90;\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1140,"wires":[["c7c8d8cb.286c58"]]},{"id":"f4963689.b085b8","type":"function","z":"2ad27d4c.8fd232","name":"On","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":980,"wires":[["96be9444.12d6c8"]]},{"id":"83f38e49.81ee8","type":"function","z":"2ad27d4c.8fd232","name":"Color","func":"var payload = msg.payload.payload\nif (payload == \"1\"){\n    msg.payload = \"0x0ee347\"\n    }\nif (payload == \"2\"){\n    msg.payload = \"0xe31c0e\"\n    }\nif (payload == \"3\"){\n    msg.payload = \"0x1c0ee3\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1060,"wires":[["a15d9942.419e08"]]},{"id":"96be9444.12d6c8","type":"yeelight","z":"2ad27d4c.8fd232","name":"On or OFF","command":"set_power","config":"","x":940,"y":940,"wires":[[]]},{"id":"a15d9942.419e08","type":"delay","z":"2ad27d4c.8fd232","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1040,"wires":[["ee7a927e.21a79"]]},{"id":"c7c8d8cb.286c58","type":"delay","z":"2ad27d4c.8fd232","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":1080,"wires":[["ba1d19ca.514378"]]},{"id":"3f2fdd46.442912","type":"nora-switch","z":"2ad27d4c.8fd232","devicename":"Switch","roomhint":"","name":"","passthru":false,"nora":"c423663f.ac5e98","topic":"","onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","x":1570,"y":160,"wires":[["19be9155.8ca63f"]]},{"id":"9667fcca.e4bd7","type":"ewelink-power-state-read","z":"2ad27d4c.8fd232","name":"Gerät2c0a57","deviceId":"10002c0a57","channel":1,"auth":"ebd55dc.14784a","x":1270,"y":100,"wires":[["3f2fdd46.442912","44f79855.290828"]]},{"id":"1f88c9ac.f480e6","type":"nora-light","z":"2ad27d4c.8fd232","devicename":"Light","lightcolor":true,"brightnesscontrol":true,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"","name":"","nora":"c423663f.ac5e98","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":150,"y":800,"wires":[["c354866f.8a98b8","611f631a.3a16fc","50277978.11dd08"]]},{"id":"c354866f.8a98b8","type":"function","z":"2ad27d4c.8fd232","name":"HSVtoRGB","func":"var h = msg.payload.color.spectrumHsv.hue\nvar s = msg.payload.color.spectrumHsv.saturation *100\nvar v = msg.payload.color.spectrumHsv.value *100\n\nif (h === 0 || s === 0){\n    return null;\n}\n\n\nfunction hsvToRgb(h, s, v) {\n    var r, g, b;\n    var i;\n    var f, p, q, t;\n     \n    // Make sure our arguments stay in-range\n    h = Math.max(0, Math.min(360, h));\n    s = Math.max(0, Math.min(100, s));\n    v = Math.max(0, Math.min(100, v));\n     \n\n    s /= 100;\n    v /= 100;\n     \n    if(s === 0) {\n        // Achromatic (grey)\n        r = g = b = v;\n        return [\n            Math.round(r * 255), \n            Math.round(g * 255), \n            Math.round(b * 255)\n        ];\n    }\n     \n    h /= 60; // sector 0 to 5\n    i = Math.floor(h);\n    f = h - i; // factorial part of h\n    p = v * (1 - s);\n    q = v * (1 - s * f);\n    t = v * (1 - s * (1 - f));\n     \n    switch(i) {\n        case 0:\n            r = v;\n            g = t;\n            b = p;\n            break;\n     \n        case 1:\n            r = q;\n            g = v;\n            b = p;\n            break;\n     \n        case 2:\n            r = p;\n            g = v;\n            b = t;\n            break;\n     \n        case 3:\n            r = p;\n            g = q;\n            b = v;\n            break;\n     \n        case 4:\n            r = t;\n            g = p;\n            b = v;\n            break;\n     \n        default: // case 5:\n            r = v;\n            g = p;\n            b = q;\n    }\n    return { r: Math.round(r * 255), \n             g: Math.round(g * 255),\n             b: Math.round(b * 255) } ;\n}\nvar rgb = hsvToRgb(h,s,v);\n\nrh = rgb.r.toString(16);\nif (rh.length < 2){\n    rh = \"0\"+rh;\n}\ngh = rgb.g.toString(16);\nif (gh.length < 2){\n    gh = \"0\"+gh;\n}\nbh = rgb.b.toString(16);\nif (bh.length < 2){\n    bh = \"0\"+bh;\n}\n\n\nvar rgbh = \"0x\" + rh + gh + bh;\n\nmsg.payload = rgbh;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":800,"wires":[["ee7a927e.21a79"]]},{"id":"611f631a.3a16fc","type":"function","z":"2ad27d4c.8fd232","name":"On/OFF","func":"if (msg.payload.on === false){\n    msg.payload = 0; }\nelse{\n    msg.payload = 1;}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":720,"y":840,"wires":[["96be9444.12d6c8"]]},{"id":"50277978.11dd08","type":"function","z":"2ad27d4c.8fd232","name":"Helligkeit","func":"\nmsg.payload = msg.payload.brightness\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":760,"wires":[["ba1d19ca.514378"]]},{"id":"19be9155.8ca63f","type":"ewelink-power-state-write","z":"2ad27d4c.8fd232","name":"Gerät2c0a57","deviceId":"10002c0a57","channel":1,"auth":"ebd55dc.14784a","x":1790,"y":240,"wires":[[]]},{"id":"d749e7bf.859ed8","type":"pythonshell in","z":"2ad27d4c.8fd232","name":"HomematicIP","pyfile":"/home/pi/GET_INFORMATIONS.py","virtualenv":"/data/envtest","continuous":false,"stdInData":false,"x":1220,"y":940,"wires":[["1bdbca4a.7a14a6","467e6ad6.f61864","27b17b1b.05ebb4","20d3349c.f42a4c"]]},{"id":"1bdbca4a.7a14a6","type":"function","z":"2ad27d4c.8fd232","name":"Soll-Wert","func":"msg.payload = msg.payload.substring(0, msg.payload.length - 1);\nmsg.payload = msg.payload.substring(1);\nvar ar = msg.payload.split(', ');\nmsg.payload = ar[2]\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":920,"wires":[["38f62acb.edfbe6"]]},{"id":"27b17b1b.05ebb4","type":"function","z":"2ad27d4c.8fd232","name":"Raum","func":"msg.payload = msg.payload.substring(0, msg.payload.length - 1);\nmsg.payload = msg.payload.substring(1);\nvar ar = msg.payload.split(', ');\nmsg.payload = ar[3].substring(0, ar[3].length - 1)\nmsg.payload = msg.payload.substring(1);\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":960,"wires":[["521e6bf8.ca4e14"]]},{"id":"467e6ad6.f61864","type":"function","z":"2ad27d4c.8fd232","name":"Ist-Wert","func":"msg.payload = msg.payload.substring(0, msg.payload.length - 1);\nmsg.payload = msg.payload.substring(1);\nvar ar = msg.payload.split(', ');\nmsg.payload = ar[0];\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":880,"wires":[["685c496f.9c6b18"]]},{"id":"20d3349c.f42a4c","type":"function","z":"2ad27d4c.8fd232","name":"Name","func":"msg.payload = msg.payload.substring(0, msg.payload.length - 1);\nmsg.payload = msg.payload.substring(1);\nvar ar = msg.payload.split(', ');\nmsg.payload = ar[4].substring(0, ar[4].length - 1)\nmsg.payload = msg.payload.substring(1);\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1000,"wires":[["2aa9d825.c43d98"]]},{"id":"38f62acb.edfbe6","type":"ui_gauge","z":"2ad27d4c.8fd232","name":"","group":"4144dcf5.9e9b34","order":4,"width":0,"height":0,"gtype":"gage","title":"Soll-Temperatur","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1690,"y":920,"wires":[]},{"id":"685c496f.9c6b18","type":"ui_gauge","z":"2ad27d4c.8fd232","name":"","group":"4144dcf5.9e9b34","order":3,"width":0,"height":0,"gtype":"gage","title":"Ist-Temperatur","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1690,"y":880,"wires":[]},{"id":"4445e365.46df6c","type":"inject","z":"2ad27d4c.8fd232","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":1000,"wires":[["d749e7bf.859ed8"]]},{"id":"521e6bf8.ca4e14","type":"ui_text","z":"2ad27d4c.8fd232","group":"4144dcf5.9e9b34","order":1,"width":0,"height":0,"name":"","label":"Raum:","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":960,"wires":[]},{"id":"2aa9d825.c43d98","type":"ui_text","z":"2ad27d4c.8fd232","group":"4144dcf5.9e9b34","order":2,"width":0,"height":0,"name":"","label":"Gerätname:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":1000,"wires":[]},{"id":"818e9214.0db6a","type":"inject","z":"2ad27d4c.8fd232","name":"Implementiert Automation","topic":"Implementiert Automation","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["90f617e6.b80da8"]]},{"id":"90f617e6.b80da8","type":"function","z":"2ad27d4c.8fd232","name":"Config Autimation","func":"//Script for Automation\nvar time = msg.payload;\nvar topic = msg.topic;\n\n//DEFINE START TIME OF AUTOMATION (TRIGGER)\nvar triggers = ['08:00','18:00']\n//DEFINE ACTIONS\nvar Lightaction = [[{\"online\":true,\"on\":true,\"brightness\":100,\"color\":{\"spectrumHsv\":{\"hue\":271.3274230957031,\"saturation\":0.8129496574401855,\"value\":0.545098066329956}}}],[{\"online\":true,\"on\":true,\"brightness\":100,\"color\":{\"spectrumHsv\":{\"hue\":0,\"saturation\":0,\"value\":1}}}]]\nvar PlugAction = [\"on\",\"off\"]\n\nflow.set(\"trg\",triggers);\nflow.set(\"pact\",PlugAction);\nflow.set(\"lact\", Lightaction);\n","outputs":1,"noerr":0,"x":450,"y":240,"wires":[[]]},{"id":"1b4ff115.32498f","type":"inject","z":"2ad27d4c.8fd232","name":"Erstellt Liste der Automationen","topic":"Erstellt Liste der Automationen","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["412b8cb8.bcedb4"]]},{"id":"412b8cb8.bcedb4","type":"function","z":"2ad27d4c.8fd232","name":"Set Automation List","func":"trg1 =flow.get(\"trg\")[0];\ntrg2 = flow.get(\"trg\")[1];\nmsg.payload = [{\"title\":\"<b>Arbeitsroutine</b>\",\"description\":\"Startet um <font color=\\\"red\\\"><b>\" + trg1 + \"</b></font> Uhr.\",\"icon\":\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAYFBMVEUAAAD///8wMDBra2vo6Oitra10dHTCwsKwsLCnp6fIyMju7u5ERESRkZHS0tLOzs5RUVGfn588PDyCgoIKCgr5+fna2tri4uKLi4tiYmJvb29cXFxWVlY3NzcnJydLS0vsT2pLAAAClklEQVR4nO3c207CQBhF4bEUyqGcQbGe3v8tjfHCzJDUOuza7LLWPdP/C9HOQEp4GHth6AF6D6F/CP1D6B9C/xD6h9A/hP4h9A+hfwj9Q+gfQv8Q+teT8FztJ/Wh6Nqhnuyrcz+j9CFcLeqQU71Y9TCNXlges3jfHUv5PHLh+gbfV2v1QGJhebgRGMKb+G3UCpc3+75aSmeSCisJMIRKOZRSuBEBQ9gKpxIKVzJgCMLbhlC4Ewp3urF0wqkQGMJUNpdOKAUG4VyqhfZi4V41mEx4EgtPqsFUwut7/ft6W3Ztu36/er3qvq8SNumAiz8usEgXaESTiYTnIpnv8c9LPCYrFKLzokj4lIyXsynZJms8aUYTCZMd6SVrkUsvf4giYXwqPOVtulbx/2PRSVEkjM/1z5mrPEerHDWjiYSzaLbcu3W8a5hpRutFmHu+qxDmhLBjCLuFMCuEHUPYLYRZIezYvQlzT3bL/xCWl0lGTfwhxq7JWWTSxJ+aF1mrXNIv5xJhGfwrW4UvQ48n6KVVOPR0khD6h9A/hP4h9A+hfwj9Q+gfQv8Q+ofQP4T+IfQPoX8I/UPoH0L/EPqH0D+E/g0lnM2nP81nv78gu6GE8+hC8x6vNJQwfnZZ+1x03FDC+JHLqwcqhbUKRxhC/xD6h9C/u7sf9njd8e9pxr8vHf/Z4v9C6B9C/xD6h9A/hP4h9A+hfwj9Q+gfQv8Q+ofQP4T+IfQPoX8I/UPoH0L/EPqH0D+E/iH0D6F/CP1D6B9C/xD6h9A/hP4h9A+hfwj9Q+gfQv8Q+ofQvzsX1kNPJ+ijVbgZejxBm1bhw+a18O41Ad7fbwyNMIT+IfQPoX8I/UPoH0L/EPqH0D+E/iH0D6F/CP1D6N8ni1VqpZe1FKcAAAAASUVORK5CYII=\"},{\"title\":\"<b>Entspannungsabend</b>\",\"description\":\"Startet um <font color=\\\"red\\\"><b>\" + trg2 + \"</b></font> Uhr.\",\"icon\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvEeBBA6WttPJQ_fWCaurTkawnxef4YJk5Qg&usqp=CAU\"}]\nreturn msg","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["f4db0d96.94088"]]},{"id":"f4db0d96.94088","type":"ui_list","z":"2ad27d4c.8fd232","group":"931e4151.b3a6e","name":"","order":3,"width":0,"height":0,"lineType":"three","actionType":"check","allowHTML":true,"outputs":1,"topic":"Automationsübersicht","x":1090,"y":340,"wires":[["ee4113ec.966f7"]]},{"id":"ee4113ec.966f7","type":"function","z":"2ad27d4c.8fd232","name":"Set actions","func":"if(msg.payload.title == \"<b>Arbeitsroutine</b>\"){\n    flow.set(\"act1\", msg.payload.isChecked)\n    }\nif(msg.payload.title == \"<b>Entspannungsabend</b>\"){\n    flow.set(\"act2\", msg.payload.isChecked)\n    }    \nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":340,"wires":[[]]},{"id":"1397cf9c.6d4c2","type":"inject","z":"2ad27d4c.8fd232","name":"timeloop","topic":"","payload":"","payloadType":"date","repeat":"31","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["cdd0339b.92409"]]},{"id":"cdd0339b.92409","type":"function","z":"2ad27d4c.8fd232","name":"Check Time","func":"var time = msg.payload;\nvar topic = msg.topic;\n\n\nt1 = flow.get(\"trg\")[0];\nt2 = flow.get(\"trg\")[1];\nvar currenttime1 = new Date(); \nvar datetime1 = parseInt(currenttime1.getHours()) + \":\" + parseInt(currenttime1.getMinutes());\nif (t1 == datetime1){\n    msg.payload = [flow.get(\"lact\")[0],flow.get(\"pact\")[0]] ;\n    return msg;\n}\nif (t2 == datetime1){\n    msg.payload = [flow.get(\"lact\")[1],flow.get(\"pact\")[1]] ;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["ce1d688.da41a98","a8948d7a.3c59"]]},{"id":"ce1d688.da41a98","type":"function","z":"2ad27d4c.8fd232","name":"Lichtautomation","func":"msg.payload = msg.payload[0];\nif(flow.act1 == true){\n    return msg;}","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["50277978.11dd08","c354866f.8a98b8","611f631a.3a16fc"]]},{"id":"a8948d7a.3c59","type":"function","z":"2ad27d4c.8fd232","name":"Steckdosenautomation","func":"msg.payload = msg.payload[1];\nif(flow.act1 == true){\n    return msg;}","outputs":1,"noerr":0,"x":1300,"y":440,"wires":[["19be9155.8ca63f"]]},{"id":"430a9614.ae34a8","type":"comment","z":"2ad27d4c.8fd232","name":"HowTo Activate Automation","info":"Um die Automation zu starten:\n1. Click input \"Implementiert Automation\"\n2. Click input \"Erstellt Liste Automation\"\n","x":150,"y":200,"wires":[]},{"id":"a6807f6e.7a893","type":"function","z":"2ad27d4c.8fd232","name":"pass over","func":"if (flow.get(\"long\") === true) {\n    return msg;\n}\nif (flow.get(\"long\") === false) {\n    msg.payload ={\"online\":true,\"on\":false,\"brightness\":100,\"color\":{\"spectrumHsv\":{\"hue\":271.3274230957031,\"saturation\":0.8129496574401855,\"value\":0.545098066329956}}};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":680,"y":1280,"wires":[["9cd2fed2.d339e","50277978.11dd08","c354866f.8a98b8","611f631a.3a16fc"]]},{"id":"3f9580fd.c8144","type":"function","z":"2ad27d4c.8fd232","name":"True/False Lichtmuster","func":"var def = (typeof flow.get(\"long\"));\nflow.set(\"start\", true);\n\n\nif (def == 'undefined') {\n    flow.set(\"long\",true);\n    msg.payload ={\"online\":true,\"on\":true,\"brightness\":100,\"color\":{\"spectrumHsv\":{\"hue\":360,\"saturation\":1,\"value\":1}}};\n    return msg;\n}\nif (flow.get(\"long\") === true) {\n    flow.set(\"long\",false);\n    return msg;\n}\nif (flow.get(\"long\") === false) {\n    flow.set(\"long\",true);\n    msg.payload ={\"online\":true,\"on\":true,\"brightness\":100,\"color\":{\"spectrumHsv\":{\"hue\":360,\"saturation\":1,\"value\":1}}};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":420,"y":1280,"wires":[["a6807f6e.7a893"]]},{"id":"e9f3398b.192c58","type":"function","z":"2ad27d4c.8fd232","name":"Change Value","func":"if (flow.get(\"long\") === true) {\n\n\n    if(msg.payload.brightness < 100){\n        flow.set(\"start\",false);\n    }\n    \n    if(flow.get(\"start\") === true){\n        msg.payload.color.spectrumHsv.hue = msg.payload.color.spectrumHsv.hue - 5;\n    }\n       \n    if(flow.get(\"start\") === false ){\n        msg.payload.color.spectrumHsv.hue = msg.payload.color.spectrumHsv.hue + 5;\n    }\n    \n    if(msg.payload.brightness == 270 ){\n        flow.set(\"start\",true);\n    }\n    return msg\n    \n}","outputs":1,"noerr":0,"x":720,"y":1380,"wires":[["a6807f6e.7a893"]]},{"id":"9cd2fed2.d339e","type":"delay","z":"2ad27d4c.8fd232","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":1280,"wires":[["e9f3398b.192c58"]]},{"id":"325b7431.9b699c","type":"nora-switch","z":"2ad27d4c.8fd232","devicename":"Lichtmuster","roomhint":"","name":"","passthru":false,"nora":"c423663f.ac5e98","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":210,"y":1200,"wires":[["3f9580fd.c8144"]]},{"id":"efa339f1.188948","type":"ui_group","z":"","name":"Steckdose","tab":"924bc41e.49ef58","order":1,"disp":true,"width":"6","collapse":false},{"id":"468811f7.87172","type":"ui_group","z":"","name":"Yeelight","tab":"924bc41e.49ef58","order":2,"disp":true,"width":"6","collapse":false},{"id":"c423663f.ac5e98","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"ebd55dc.14784a","type":"ewelink-credentials","z":""},{"id":"4144dcf5.9e9b34","type":"ui_group","z":"","name":"HomematicIP","tab":"924bc41e.49ef58","order":4,"disp":true,"width":"6","collapse":false},{"id":"931e4151.b3a6e","type":"ui_group","z":"","name":"Automation","tab":"924bc41e.49ef58","order":5,"disp":true,"width":"6","collapse":false},{"id":"924bc41e.49ef58","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
