NodeRED/PythonShell_Env_Setup
[{"id":"ab72dcf1.46ed7","type":"tab","label":"example create python env and install packages","disabled":false,"info":""},{"id":"b47264d6.01dab8","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":820,"wires":[["f6fe2e7.64ff1d"]]},{"id":"c8278fae.8648b","type":"file","z":"ab72dcf1.46ed7","name":"example.py","filename":"/data/example.py","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":820,"wires":[["65d8e04a.ef717"]]},{"id":"f6fe2e7.64ff1d","type":"template","z":"ab72dcf1.46ed7","name":"","field":"payload","fieldType":"msg","format":"python","syntax":"plain","template":"# -*- coding: utf-8 -*-\n\nimport requests\nimport homematicip\nfrom homematicip.base.enums import *\nfrom homematicip.home import Home\nfrom homematicip.device import ShutterContact,HeatingThermostat,PlugableSwitchMeasuring,WallMountedThermostatPro\n\n\n\ndef main():\n    home = Home()\n    home.set_auth_token(\"INPUT AUTH TOKEN\")\n    home.init(\"INPUT ACCES POINT SGTIN\")\n\n\n\n\n\n\n    home.get_current_state()\n    for g in home.groups:\n        if g.groupType==\"META\":\n            for device in g.devices:\n                if isinstance(device,HeatingThermostat):\n                    return [device.valveActualTemperature,\n                            device.automaticValveAdaptionNeeded,\n                            device.setPointTemperature,\n                            g.label, device.label, device.lastStatusUpdate]\n                        \n         \n\n                 \n            \nprint(main())","output":"str","x":300,"y":820,"wires":[["c8278fae.8648b"]]},{"id":"b39f06e9.fa70f8","type":"comment","z":"ab72dcf1.46ed7","name":"create a python script file and save to disk","info":"","x":340,"y":760,"wires":[]},{"id":"525bb3de.03b74c","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["9e576ce1.ad7e3"]]},{"id":"bca942bb.1e65b","type":"file","z":"ab72dcf1.46ed7","name":"","filename":"/data/create_env.sh","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":100,"wires":[[]]},{"id":"9e576ce1.ad7e3","type":"template","z":"ab72dcf1.46ed7","name":"","field":"payload","fieldType":"msg","format":"python","syntax":"plain","template":"#!/bin/bash \n\ncd /data\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python","output":"str","x":300,"y":100,"wires":[["bca942bb.1e65b"]]},{"id":"da0bbff2.10f62","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["2517eec3.7127a2"]]},{"id":"2517eec3.7127a2","type":"exec","z":"ab72dcf1.46ed7","command":"chmod u+x /data/create_env.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"make create_env.sh file executable","x":380,"y":200,"wires":[["50cfe160.56cff"],["50cfe160.56cff"],["50cfe160.56cff"]]},{"id":"50cfe160.56cff","type":"debug","z":"ab72dcf1.46ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"6111002a.31599","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["81ee8360.df074"]]},{"id":"81ee8360.df074","type":"exec","z":"ab72dcf1.46ed7","command":"bash /data/create_env.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"execute create_env.sh","x":340,"y":320,"wires":[["4524a94c.719008"],["4524a94c.719008"],["4524a94c.719008"]]},{"id":"4524a94c.719008","type":"debug","z":"ab72dcf1.46ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":320,"wires":[]},{"id":"d691ea24.e0b308","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":540,"wires":[["66926fea.e8386"]]},{"id":"66926fea.e8386","type":"exec","z":"ab72dcf1.46ed7","command":"chmod u+x /data/install_packages.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"make install_packages.sh file executable","x":400,"y":540,"wires":[["fb302296.6cce6"],["fb302296.6cce6"],["fb302296.6cce6"]]},{"id":"fb302296.6cce6","type":"debug","z":"ab72dcf1.46ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":540,"wires":[]},{"id":"14f5b913.9a7f47","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["cfdb8640.6cf8b8"]]},{"id":"cfdb8640.6cf8b8","type":"exec","z":"ab72dcf1.46ed7","command":"bash /data/install_packages.sh","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"execute /install_packages.sh","x":360,"y":680,"wires":[["5cb68f0f.d5056"],["5cb68f0f.d5056"],["5cb68f0f.d5056"]]},{"id":"5cb68f0f.d5056","type":"debug","z":"ab72dcf1.46ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":680,"wires":[]},{"id":"29e81d75.e0d312","type":"comment","z":"ab72dcf1.46ed7","name":"create bash file that creates and activates venv","info":"In the template node we create a bash file that will create a virtual python environment and activate the environment.\n\n#!/bin/bash \n\ncd /data\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python","x":340,"y":60,"wires":[]},{"id":"1e525cd6.fb95b3","type":"comment","z":"ab72dcf1.46ed7","name":"make the bash file executable","info":"","x":280,"y":140,"wires":[]},{"id":"3a12e61c.1765da","type":"comment","z":"ab72dcf1.46ed7","name":"make the bash file executable","info":"","x":300,"y":480,"wires":[]},{"id":"72c904ad.a08f8c","type":"comment","z":"ab72dcf1.46ed7","name":"execute the bash file","info":"","x":250,"y":260,"wires":[]},{"id":"95db47ba.6b27a8","type":"inject","z":"ab72dcf1.46ed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["7838f1b5.fbc0d"]]},{"id":"375a1ba1.58fc14","type":"file","z":"ab72dcf1.46ed7","name":"","filename":"/data/install_packages.sh","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":420,"wires":[[]]},{"id":"7838f1b5.fbc0d","type":"template","z":"ab72dcf1.46ed7","name":"file to install packages","field":"payload","fieldType":"msg","format":"python","syntax":"plain","template":"#!/bin/bash \n\ncd /data\nsource envtest/bin/activate\nls -l\nwhich python\npip3 install homematicip","output":"str","x":340,"y":420,"wires":[["375a1ba1.58fc14"]]},{"id":"24b6aad8.841826","type":"comment","z":"ab72dcf1.46ed7","name":"create bash file that installs packages","info":"","x":270,"y":380,"wires":[]},{"id":"4040309.4d525d","type":"comment","z":"ab72dcf1.46ed7","name":"execute the bash file to install packages","info":"","x":330,"y":620,"wires":[]},{"id":"170abab8.91e185","type":"debug","z":"ab72dcf1.46ed7","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":680,"y":920,"wires":[]},{"id":"80a17527.dee8b8","type":"pythonshell in","z":"ab72dcf1.46ed7","name":"example","pyfile":"/data/example.py","virtualenv":"/data/envtest","continuous":true,"stdInData":true,"x":400,"y":920,"wires":[["170abab8.91e185"]]},{"id":"c85800c0.1eb1b","type":"inject","z":"ab72dcf1.46ed7","name":"inject number","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["80a17527.dee8b8"]]},{"id":"88aa6581.1dbe38","type":"comment","z":"ab72dcf1.46ed7","name":"inject a number to the python script and display it in the debug window","info":"","x":430,"y":880,"wires":[]},{"id":"65d8e04a.ef717","type":"debug","z":"ab72dcf1.46ed7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":820,"wires":[]}]
